.chart {
-fx-padding: 2px;
}
.chart-content {
-fx-padding: 30px;
}
.chart-line-symbol{
-fx-background-radius: 3px;
-fx-padding: 1px;
}
.chart-symbol { /* solid circle */
-fx-background-color: #000000;
-fx-background-radius: 0;
-fx-padding: 1px;
}
.chart-series-line {
-fx-stroke-width: 1px;
-fx-background-radius: 1px;
-fx-effect: null;
}
.default-color1.chart-symbol { /* solid square */
-fx-background-color: #a9e200;
-fx-background-radius: 0;
}